.card-style {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 0.5rem;
}

.only-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 0.5rem;
}

.card-style:hover {
  background-color: #706fd3;
  color: #fff !important;
}

a {
  color: #2c2c54 !important;
}
